.imgYo{
    float: right;
    width: 30%;
    height: 30%;
    object-fit: cover;
    border-radius: 50%;    
}

#carouselExampleCaptions{
    width: 60%;
    height: 60%;
    align-items: center;
    margin-left: 30%;
    width: 600px;
    height: 400px;
}

.carousel-inner img {
    width: 100%;
    height: auto;
}

h9 {
    justify-content: left;
    justify-items: left;
    position: absolute;
    bottom: 8;
    left: 2;
    margin-top: 3%;
    border-radius: 0%;
    text-align: left;
}

  .carousel {
    max-width: 600px; /* Ajusta el ancho según lo que necesites */
    max-height: 400px; /* Ajusta la altura según lo que necesites */
    margin: auto; /* Centra el carrusel en la página */
  }
  .carousel img {
    object-fit: cover; /* Recorta la imagen si es necesario */
    max-width: 100%;
    max-height: 100%;
  }



  /* From Uiverse.io by ZacharyCrespin */ 
@keyframes square-animation {
  0% {
   left: 0;
   top: 0;
  }
 
  10.5% {
   left: 0;
   top: 0;
  }
 
  12.5% {
   left: 32px;
   top: 0;
  }
 
  23% {
   left: 32px;
   top: 0;
  }
 
  25% {
   left: 64px;
   top: 0;
  }
 
  35.5% {
   left: 64px;
   top: 0;
  }
 
  37.5% {
   left: 64px;
   top: 32px;
  }
 
  48% {
   left: 64px;
   top: 32px;
  }
 
  50% {
   left: 32px;
   top: 32px;
  }
 
  60.5% {
   left: 32px;
   top: 32px;
  }
 
  62.5% {
   left: 32px;
   top: 64px;
  }
 
  73% {
   left: 32px;
   top: 64px;
  }
 
  75% {
   left: 0;
   top: 64px;
  }
 
  85.5% {
   left: 0;
   top: 64px;
  }
 
  87.5% {
   left: 0;
   top: 32px;
  }
 
  98% {
   left: 0;
   top: 32px;
  }
 
  100% {
   left: 0;
   top: 0;
  }
 }
 
 .loader2 {
  position: absolute;
  top: 13%;
  right: 10%;
  width: 0px;
  height: 47px;
  transform: rotate(50deg);
 }

 .loader {
  position: absolute;
  top: 13%;
  right: 90%;
  width: 0px;
  height: 47px;
  transform: rotate(50deg);
 }

 
 .loader-square {
  position: absolute;
  top: 0;
  left: 0;
  width: 28px;
  height: 28px;
  margin: 2px;
  border-radius: 0px;
  background: rgba(0, 0, 0, 0.854);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  animation: square-animation 10s ease-in-out infinite both;
 }
 
 .loader-square:nth-of-type(0) {
  animation-delay: 0s;
 }
 
 .loader-square:nth-of-type(1) {
  animation-delay: -1.4285714286s;
 }
 
 .loader-square:nth-of-type(2) {
  animation-delay: -2.8571428571s;
 }
 
 .loader-square:nth-of-type(3) {
  animation-delay: -4.2857142857s;
 }
 
 .loader-square:nth-of-type(4) {
  animation-delay: -5.7142857143s;
 }
 
 .loader-square:nth-of-type(5) {
  animation-delay: -7.1428571429s;
 }
 
 .loader-square:nth-of-type(6) {
  animation-delay: -8.5714285714s;
 }
 
 .loader-square:nth-of-type(7) {
  animation-delay: -10s;
 }
